string

1. Write a Python program to count the number of characters (character frequency) in a string

In [ ]:
str='google.com'

In [ ]:
char_dict={}

for A in str:
    if A in char_dict:
        char_dict[A]+=1
    else:
        char_dict[A] = 1

In [ ]:
print(char_dict)

2. Write a Python program to get a string from a given string where all occurrences 
of its first char have been changed to '$' ,except the first char itself

In [ ]:
str='Restart'

In [ ]:
for A in str:
    print(A.replace('r','$'),end='')


3. Write a Python function that takes a list of words and returns the length of the longest one

In [ ]:
def find_longest_word(words):
    longest_length = 0
    for word in words:
        if len(word) > longest_length:
            longest_length = len(word)
    return longest_length

In [ ]:
word_list = ['hello', 'world', 'Python', 'programming']
longest_word_length = find_longest_word(word_list)
print(longest_word_length)

4. Write a Python program to count the occurrences of each word in a given sentence

In [ ]:
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

print( word_count('This is a sample sentence. This sentence contains some repeated words.'))

5. Write a Python function to convert a given string to all uppercase if 
it contains at least 2 uppercase characters in the first 4 characters.

In [ ]:
def convert_to_uppercase(string):
    count = 0
    for char in string[:4]:
        if char.isupper():
            count += 1

    if count >= 2:
        return string.upper()
    else:
        return string

In [ ]:
print(convert_to_uppercase("AbCde"))

6. Write a Python program to count and display the vowels of a given text

In [ ]:
text = input("enter a text: ").lower()
vowels='aeiou'
vowel_count={vowel: text.count(vowel) for vowel in vowels}
print('vowel counts:')
for vowel,count in vowel_count.items():
    print(f'{vowel}:{count}')

LIST

1.Write a Python program to check a list is empty or not

In [ ]:
list = ['AA','BB','CC', 'DD']
for x in list:
 if not list:
    print("this is empty")
 else:
    print("this list is not empty")

2.Write a Python program to remove duplicates from a list.

In [ ]:
def Remove(duplicate):
    final_list = []
    for num in duplicate:
        if num not in final_list:
               final_list.append(num)
    return final_list

duplicate = [2, 4, 10, 20, 5, 2, 20, 4]
print(Remove(duplicate))

3.Write a Python function that takes two lists and returns True if they have at least one

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]
def have_common_member(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False
result = have_common_member(list1, list2)
if result:
    print("The lists have at least one common member.")
else:
    print("The lists do not have any common members.")

4.Write a Python program to get the difference between the two lists

In [ ]:
list1 = [11, 22, 33, 44, 55]
list2 = [33, 44,55, 66, 77]
difference = [x
 for x in list1
 if x not in list2]
print("The difference between list1 and list2 is:", difference)

5.Write a Python program to find the second smallest number in a list

In [ ]:
numbers = [55,66,77,88,99]
second_smallest = min([x
 for x in numbers
 if x != min(numbers)])
print("The second smallest number is:", second_smallest)

6.Write a Python program to find the second largest number in a list.

In [ ]:
numbers = [55,66,77,88,99]
second_largest = max([x
 for x in numbers
 if x != max(numbers)])
print("The second largest number is:", second_largest)

7.Write a Python program to get the frequency of the elements in a list

In [ ]:
list = [1,1,1,2,2,2,3,3,3,4,44]
frequency_dict = {}
for item in list:
    if item in frequency_dict:
          frequency_dict[item]+=1
    else:
          frequency_dict[item] =1
 
for key,value in frequency_dict.items():
     print(f"{key}: {value} times")

8.Write a Python program to convert a list of multiple integers into a single integer

In [ ]:
list = [11, 33, 50]
for i in list:
 print(i, end="")

9.Write a Python program to compute the similarity between two lists.

In [ ]:
list1 = ["red", "orange", "green", "blue", "white"]
list2 = ["black", "yellow", "green", "blue"]
color1_color2 = [x
     for x in list1
     if x not in list2]
color2_color1 = [x
      for x in list2
      if x not in list1]
print("Color1-Color2:", color1_color2)
print("Color2-Color1:", color2_color1)

10.Write a Python program to check if all dictionaries in a list are empty or not.

In [ ]:
list1 = [{}, {}]
list2 = [{'a': 'b'}, ]
result1 = all(not d for d in list1)
result2 = all(not d for d in list2)

print("Result for list1:", result1)
print("Result for list2:", result2)

dictionary

1.

In [ ]:
n=5
dict1 ={}
for val in range(1,n+1):
    dict1[val] = val **2
    
print(dict1)

2.

In [ ]:
d1={'a':100,'b':200,'c':300}
d2={'a':300,'b':200,'d':400}

In [ ]:
d3={}

In [ ]:
for key in d1:
    if key not in d3:
        d3[key]=d1[key]
        
for key in d2:
    if key not in d3:
        d3[key] = d2[key]
    else:
            d3[key] += d2[key]

In [ ]:
d3

3.

In [ ]:
val=[{"V":'S001'},{"V":"S002"},{"VI":"S001"},{"VI":"S005"},{"VII":"S005"},{"V":"S009"},{"VIII":"S007"}]

In [ ]:
set1 = set()
for x in val:
    set1.update(set(x.values()))

In [ ]:
set1

4.

In [ ]:
dict1= {'1':['a','b'], '2':['c','d']}

for x in dict1['1']:
    for y in dict1['2']:
        print(x,y,sep='',end=' ')

5. Write a Python program to create a dictionary from a string.

In [ ]:
str = 'w3resorce'
demo_count = {}
for x in str:
        if x in demo_count:
             demo_count[x]+=1
        else:
            demo_count[x] = 1

In [ ]:
print(demo_count)

6. Write a Python program to count the values associated with key in a dictionary.

In [ ]:
S_data = [{'id': 1, 'success': True, 'name': 'Lary'},
 {'id': 2, 'success': False, 'name': 'Rabi'},
 {'id': 3, 'success': True, 'name': 'Alex'}]

In [ ]:
count = 0
for x in S_data:
    if 'success' in x and x['success'] ==True:
        count+=1

In [ ]:
print("Count of dictionaries with 'success' as True:",count)

7. Write a Python program to convert a list into a nested dictionary of keys

In [ ]:
list = ['a','b','c','d']
nested_dict = {}
current_dict= nested_dict

for x in list:
    current_dict[x] = {}
    current_dict = current_dict[x]

In [ ]:
print(nested_dict)

8. Write a Python program to sort a list alphabetically in a dictionary

In [2]:
my_dict = { 'city': ['akash','raj','dev'],
 'name' : ['surat','mumbai','delhi']}
for x in my_dict:
   my_dict[x].sort()
print(my_dict)

{'city': ['akash', 'dev', 'raj'], 'name': ['delhi', 'mumbai', 'surat']}



9. Write a Python program to sort Counter by value.
â€¢ Sample data: {'Math':81, 'Physics':83, 'Chemistry':87} Expected data: [('Chemistry', 87), ('Physics', 83), ('Math', 81)]

In [ ]:
dict11= {'Math':'81', 'Physics':'83', 'Chemistry':'87'}

In [ ]:
for x in dict11:
    print(x.keys)

10. Write a Python program to match key values in two dictionaries.

In [ ]:
x = {'key1': 1, 'key2': 3, 'key3': 2}
y = {'key1': 1, 'key2': 2}
for key in x:
   if key in y and x[key] == y[key]:
    print(f"{key}: {x[key]} is present in both x and y")

tuple

1.Write a Python program to create a tuple with different data types.

In [ ]:
tuple = (2,2.2,"raj",True)
print(tuple)

2. Write a Python program to add an item in a tuple

In [ ]:
my_tuple = (26,"raj")
str(my_tuple)
type(my_tuple)

3. Write a Python program to add an item in a tuple

In [ ]:
program1 = (1,2,3.5,"raj")
program2 = (1,2,3,"raj")
program3 = program1 + program2
print(program3)

4.Write a Python program to find the repeated items of a tuple

In [ ]:
my_tuple = (44,32,32,54,54,4,5,6,7,7)

repeted_item = tuple(x
               for x in set(my_tuple)
               if my_tuple.count(x)>1)
print(repeted_item)

5.Write a Python program to find the length of a tuple.

In [ ]:
my_tuple = (32,55,"raj",4.5,21)
tuple_len = len(my_tuple)
print(tuple_len)

6.Write a Python program to convert a tuple to a dictionary

In [ ]:
my_tuple = (("a", 1) ,("b" , 2) ,("c",3))

my_dict = dict(my_tuple)
print(my_dict)

7.Write a Python program to replace last value of tuples in a list

In [ ]:
a_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

new_value = 100

modified_list = [(x[:-1] + (new_value,)) for x in s_list]

print(modified_list)

8.Write a Python program to replace last value of tuples in a list.

In [ ]:
a_List = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]

modified_item = [x
                for x in a_List
                if x and x[-1]]

print(modified_item)

9.Write a Python program to sort a tuple by its float element.

10.Write a Python program to count the elements in a list until an element is a tuple

In [ ]:
my_list = [1,2,3,(4,5),7,8,9]
count = 0
for x in my_list:
    if isinstance(x,tuple):
        break
    count+=1
 
print("number of element before first tuple",count)

set

1.Write a Python program to iteration over sets

In [ ]:
my_set = {23,22,13,4,30}
for x in my_set:
 print(x)

2.Write a Python program to add member(s) in a set

In [ ]:
a_set = {1,2,3,4,5,15}
a_set.add(19)

print(a_set)

3.Write a Python program to remove item(s) from set

In [ ]:
a_set = {1,22,32,41,54,72}
a_set.remove(22)

print(a_set)

4.. Write a Python program to remove an item from a set if it is present in the set

In [ ]:
a_set = {1, 2, 3, 4, 5}
item_remove = 4


a_set.discard(item_remove)

print(a_set)

5.Write a Python program to create an intersection of sets

In [ ]:
a_set1 = {11, 23, 35, 41, 50}
a_set2 = {23,41,51,50,76}

a_set3 = a_set2 & a_set1

print(a_set3)

6.Write a Python program to create a symmetric difference

In [ ]:
my_set1 = {1, 2, 3, 4, 5}

my_set2 = {3,4,5,6,7}

my_set3 = my_set1 ^ my_set2
print(my_set3)

7.Write a Python program to find maximum and the minimum value in a set

In [ ]:
my_set1 = {13, 23, 323, 32, 53}

my_set2 = {313,312,51,62,75}

my_set3 = max(my_set1)
my_set4 = min(my_set2)
print(my_set3)
print(my_set4)

8.Write a Python program to find the length of a set

In [ ]:
my_set1 = {13, 23, 323, 32, 53}

my_set2 = {313,312,75}

my_set3 = len(my_set1)
my_set4 = len(my_set2)
print(my_set3)
print(my_set4)

1.Write a Python program to
construct the following pattern, using a nested for loop. * * * * * * * * * * * * * * * * * * * * * * * * *

In [ ]:
num = 5
for i in range(1, num + 1):
    
    for j in range(i):
         print("*", end=" ")
    print()
for i in range(num- 1, 0, -1):
    for j in range(i):
        print("*", end=" ")
    print()

2.Write a Python program to count the number of even and odd numbers from a series of

In [ ]:
s_num = (1,2,3,4,5,6,7,8,9)
even_num = 0
odd_num = 0

for x in s_num:
    if x % 2 == 0:
        even_num+=1
    else:
        odd_num+=1
 
print("number of even number is:",even_num)
print("number of odd number is:",odd_num)

3.Write a Python program that prints all the numbers from 0 to 6 except 3 and 6

In [ ]:
for num in range(7):
    if num ==3 or num == 6:
        continue
print(num,end=" ")

In [ ]:
a, b = 0, 1

print(a, end=' ')

while b <= 50:
    print(b, end=' ')
         (a, b = b, a + b)

4.Write a Python program which takes two digits m (row) and n (column) as input and

In [2]:
rows = int(input("enter the number of rows:"))

columns = int(input("enter the number of column"))

array_2D= [[i*j for j in range(columns)]
           for i in range(rows)]
for rows in array_2D:
    
     print(rows)

enter the number of rows:3
enter the number of column4
[0, 0, 0, 0]
[0, 1, 2, 3]
[0, 2, 4, 6]

5.Write a Python program to find numbers between 100 and 400 (both included) where
each digit of a number is an even number. The numbers obtained should be printed in a comma-separated sequence

In [1]:
even_numbers = []

for num in range(100, 401):
    digits = [int(digit) for digit in str(num)]
    if all(digit % 2 == 0 for digit in digits):
        even_numbers.append(num)

result = ', '.join(map(str, even_numbers))
print(result)

200, 202, 204, 206, 208, 220, 222, 224, 226, 228, 240, 242, 244, 246, 248, 260, 262, 264, 266, 268, 280, 282, 284, 286, 288, 400

6.Write a Python program to print alphabet pattern 'A'

In [3]:
def print_pattern():
    for row in range(7):
        for col in range(7):
            if (col == 0 or col == 6) and (row != 0):
                print("*", end="")
            elif (row == 0 or row == 3) and (col > 0 and col < 6):
                print("*", end="")
            else:
                print(" ", end="")
        print()

In [4]:
print_pattern()

 *****
*     *
*     *
*******
*     *
*     *
*     *

7.Write a Python program to print alphabet pattern 'P'

In [5]:
def print_alphabet_P():
    rows = 7
    columns = 6

    for row in range(rows):
        for column in range(columns):
            if (column == 0 or (row in {0, 3}) and 0 < column < 5 or (row in {1, 2}) and column == 5):
                print("*", end="")
            else:
                print(" ", end="")
        print()

print_alphabet_P()

*****
*    *
*    *
*****
*
*
*

8.Write a Python program to check a triangle is valid or not.

In [6]:
def is_triangle(a, b, c):
    if (a + b > c) and (b + c > a) and (c + a > b):
        return True
    else:
        return False

In [7]:
side1 = float(input("Enter the length of side 1: "))
side2 = float(input("Enter the length of side 2: "))
side3 = float(input("Enter the length of side 3: "))

if is_triangle(side1, side2, side3):
    print("Triangle is valid.")
else:
    print("Triangle is not valid.")

Enter the length of side 1: 12
Enter the length of side 2: 10
Enter the length of side 3: 5
Triangle is valid.

9.Write a Python program to create the multiplication table (from 1 to 10) of a number

In [8]:
def multiplication_table(number):
    for i in range(1, 11):
        print(f"{number} x {i} = {number * i}")

# Taking input from user
num = int(input("Enter a number: "))

# Calling the function
multiplication_table(num)

Enter a number: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Write a Python program to construct the following pattern, using a nested loop number.
1 22 333 4444 55555 666666 7777777 88888888 999999999

In [9]:
def construct_pattern(n):
    for i in range(1, n + 1):
        for j in range(i):
            print(i, end="")
        print()

# Test the function
construct_pattern(9)

1
22
333
4444
55555
666666
7777777
88888888
999999999

functions

1.Write a Python function to find the Max of three numbers.

In [1]:
def find_max(a, b, c):
    max_num = max(a, b, c)
    return max_num

In [2]:
num1 = 5
num2 = 10
num3 = 7

max_number = find_max(num1, num2, num3)
print("The maximum number is:", max_number)

The maximum number is: 10

2.Write a Python function to sum all the numbers in a list

In [3]:
def sum_list_numbers(numbers):
    total_sum = 0
    
    for num in numbers:
        if isinstance(num, (int, float)):
            total_sum += num
    
    return total_sum

In [4]:
my_list = [1, 2, 3, 4, 5]
print(sum_list_numbers(my_list))

15

3.Write a Python function to multiply all the numbers in a list

In [5]:
def multiply_list(numbers):
    result = 1
    for num in numbers:
        result *= num
    return result

In [6]:
my_list = [2, 3, 4, 5]
print(multiply_list(my_list))

120

4.Write a Python function that accepts a string and calculate the number of upper case
letters and lower case letters

In [7]:
def count_case_letters(string):
    uppercase_count = 0
    lowercase_count = 0

    for char in string:
        if char.isupper():
            uppercase_count += 1
        elif char.islower():
            lowercase_count += 1

    return uppercase_count, lowercase_count

In [8]:
input_string = "Hello, World!"
upper, lower = count_case_letters(input_string)
print("Number of uppercase letters:", upper)
print("Number of lowercase letters:", lower)

Number of uppercase letters: 2
Number of lowercase letters: 8

5.Write a Python function that takes a list and returns a new list with unique elements of
the first list

In [9]:
def get_unique_elements(lst):
    unique_lst = []
    for el in lst:
        if el not in unique_lst:
            unique_lst.append(el)
    return unique_lst

In [10]:
my_lst = [1, 2, 2, 3, 4, 4, 5]
unique_elements = get_unique_elements(my_lst)
print(unique_elements)

[1, 2, 3, 4, 5]

6.Write a Python program to print the even numbers from a given list

In [1]:
def print_even_numbers(numbers):
    for num in numbers:
        if num % 2 == 0:
            print(num)

In [2]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print_even_numbers(numbers)

2
4
6
8
10

7.Write a Python function that checks whether a passed string is palindrome or not

In [3]:
def is_palindrome(s):
    # Removing spaces and converting to lowercase
    s = s.replace(" ", "").lower()
    # Reversing the string
    reverse = s[::-1]
    # Checking if the original and reversed strings are equal
    if s == reverse:
        return True
    else:
        return False

In [4]:
string = "Madam Arora teaches malayalam"
if is_palindrome(string):
    print(f"{string} is a palindrome")
else:
    print(f"{string} is not a palindrome")

Madam Arora teaches malayalam is not a palindrome

8.Write a Python program to access a function inside a function

In [5]:
def outer_function():
    print("This is the outer function.")
    
    def inner_function():
        print("This is the inner function.")
        
    # Call the inner function
    inner_function()

# Call the outer function
outer_function()

This is the outer function.
This is the inner function.

9.Write a Python program to detect the number of local variables declared in a function

In [6]:
import inspect

def count_local_variables(func):
    # Get the source code of the function
    source_code = inspect.getsource(func)
    
    # Get the list of lines in the source code
    lines = source_code.split('\n')
    
    # Count the number of local variables declared
    count = 0
    
    for line in lines:
        # Check if the line declares a local variable
        if '=' in line and not line.startswith('def') and not line.startswith('#'):
            count += 1
    
    return count

In [8]:
def example_function():
    x = 5
    y = "Hello"
    z = [1, 2, 3]
    
print(count_local_variables(example_function))

3